<div class="background">
  <img class="image" src="../../../../assets/Images/login.jpg" />
  <div class="transparent"></div>
  <div class="container">
    <strong>
      <h1 class="title">Elite Foods</h1>
    </strong>
    <!--ngForm begins-->
    <form [formGroup]="forgotForm" (ngSubmit)="verifyUser()" class="form">
      <h3 class="text-dark">
        <b>Password Reset</b>
      </h3>
      <br />
      <div class="row" style="margin-left: 10%">
        <i class="glyphicon glyphicon-user"></i>
        <div class="col-sm-7 side-by-side">
          <p>Email</p>
          <font size="6" color="red"> *</font>&nbsp;&nbsp;&nbsp;
          <input
            type="text"
            class="form-control"
            formControlName="emailId"
            placeholder="ex: abc@gmail.com"
          />

          <div *ngIf="submitted && forgotForm.controls.emailId.errors">
            <div
              class="text-danger"
              *ngIf="forgotForm.controls.emailId.errors.required"
            >
              <font size="5">Email Id is required ..!</font>
            </div>
            <div
              class="text-danger"
              *ngIf="forgotForm.controls.emailId.errors.email"
            >
              <font size="5">Email Id must follow the required pattern!!</font>
            </div>
          </div>
        </div>
      </div>

      <!--question-->
      <div class="row side-by-side" style="margin-left: 10%">
        <i class="glyphicon glyphicon-question-sign"></i>
        <p>Question</p>
        <font size="6" color="red"> *</font>
        <div class="col-sm-7">
          <div>
            <select
              id="question"
              class="form-control"
              formControlName="question"
            >
              <option value="">Select Security Question</option>
              <option value="What is your hobby?">What is your hobby?</option>
              <option value="What is your mother's name?">
                What is your mother's name?
              </option>
              <option value="What is the name of your school?">
                What is the name of your school?
              </option>
              <option value="what is your favourite food">
                what is your favourite food
              </option>
              <option value="What is your favourite subject?">
                What is your favourite subject?
              </option>
            </select>
            <div
              *ngIf="submitted && forgotForm.controls.question.errors"
              class="error"
            >
              <div
                class="text-danger"
                *ngIf="forgotForm.controls.question.errors.required"
              >
                <font size="5">Security Question is required ..</font>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--answer-->
      <div class="row side-by-side" style="margin-left: 10%">
        <i class="glyphicon glyphicon-pencil"></i>
        <p>Answer</p>
        <font size="6" color="red"> *</font>
        <div class="col-sm-7">
          <input
            type="text"
            class="form-control"
            formControlName="answer"
            placeholder="Your answer"
          />

          <div *ngIf="submitted && forgotForm.controls.answer.errors">
            <div
              class="text-danger"
              *ngIf="forgotForm.controls.answer.errors.required"
            >
              <font size="5">Security answer is required ..!</font>
            </div>
          </div>
        </div>
      </div>
      <div
        class="offset-lg-4 col-lg-6 offset-md-4 col-md-6 offset-sm-4 col-sm-6"
        style="display: flex; justify-content: flex-start"
      >
        <button class="btn btn-success" style="border-radius: 10px">
          <font size="5">Submit</font>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" type="reset" style="border-radius: 10px">
          <font size="5">Reset</font>
        </button>
        <br />
        <br />
      </div>
    </form>
    <!--ngForm ends-->
  </div>
</div>
